#red {
  color: red;
  background: #7c7272;
  padding: 6px 10px;
}
#blue {
  color: blue;
  background: #7c7272;
  padding: 6px 10px;
}
#green {
  color: green;
  background: #7c7272;
  padding: 6px 10px;
}
#yellow {
  color: #CCCC00;
  background: #7c7272;
  padding: 6px 10px;
}
#fontmasti {
    background-color: lightblue;
}
.header {
    font: bolder 30px Arial, impact, sans-serif;
    color: #f3f3f3;
    text-align: center;
    background-color: rgb(84, 87, 198);
}
.babbu {
    font: bolder 50px Arial, impact, sans-serif;
    color: #f3f3f3;
    text-align: center;
    background-color: rgb(255, 0, 0);
}